menu "BBK FINGERPRINT support"
config BBK_FINGERPRINT
	tristate "BBK FINGERPRINT support"
	help
	  Say Y here to enable switch class support. This allows
	  monitoring switches by userspace via sysfs and uevent.

if BBK_FINGERPRINT
  
config BBK_FP_ID
	tristate "BBK FP ID support"
	help
	  Say Y here to enable switch class support.
endif

source "drivers/fingerprint/gf3208/Kconfig"
source "drivers/fingerprint/gf5288/Kconfig"
source "drivers/fingerprint/fs9501/Kconfig"
source "drivers/fingerprint/gf9118/Kconfig"
source "drivers/fingerprint/gf9518/Kconfig"
endmenu
